<ul>
  <li id="energy">
    <h2>Energy Level</h2>
    <ul class="btn-group-vertical sub-ul">
      <li class="btn btn-default energy">0.0</li>
      <li class="btn btn-default energy">0.25</li>
      <li class="btn btn-default energy">0.50</li>
      <li class="btn btn-default energy">0.75</li>
      <li class="btn btn-default energy">1.00</li>
    </ul>
  </li>
  <li id="mood">
    <h2>Mood Level</h2>
    <ul class="btn-group-vertical sub-ul">
      <li class="btn btn-default mood">0.0</li>
      <li class="btn btn-default mood">0.25</li>
      <li class="btn btn-default mood">0.50</li>
      <li class="btn btn-default mood">0.75</li>
      <li class="btn btn-default mood">1.00</li>
    </ul>
  </li>

  <li id="dance">
    <h2>Dance Level</h2>
    <ul class="btn-group-vertical sub-ul">
      <li class="btn btn-default dance">0.0</li>
      <li class="btn btn-default dance">0.25</li>
      <li class="btn btn-default dance">0.50</li>
      <li class="btn btn-default dance">0.75</li>
      <li class="btn btn-default dance">1.00</li>
    </ul>
  </li>

  <div id="all-results">
    

  </div>
</ul>


<script type="text/javascript">
    function fetchGenrePlaylist(genre) {
        var url = 'https://developer.echonest.com/api/v4/playlist/static?api_key=PVCRK6KSNUY4UYV0O';
        response.setHeader("Access-Control-Allow-Origin", request.getHeader("Origin"));
        $("#all_results").show();

        $.getJSON(url, { 
          'genre': genre, 
          'format':'json', 
          'limit' : true,
          'results': 64, 
          'type':'genre-radio'}, 

                function(data) {
                    if (! ('songs' in data.response)) {
                        error("Can't find that genre");
                    } else {
                        var songs = data.response.songs;
                        $("#all_results").show();
                        fetchRdioTrackInfo(songs);
                    }
                }).error( 
                    alert("SHITS FUCKED UP");
                } );
    }


  $(document).ready(function(){

    var arr = []
    $(".energy").click(function(e){
      e.preventDefault();
      arr += e.target.innerHTML;
      $("#energy").hide();
      $("#mood").show();

    });

    $(".mood").click(function(e){
      e.preventDefault();
      arr += e.target.innerHTML;
      $("#mood").hide();
      $("#dance").show();
    });

    $(".dance").click(function(e){
      e.preventDefault();
      arr += e.target.innerHTML;
      $("#dance").hide();
      fetchGenrePlaylist("rock");d

    });
  });
</script>