<ul>
  <li id="energy">
    <h2>Energy Level</h2>
    <ul class="btn-group-vertical sub-ul">
      <li class="btn btn-default energy">0.0</li>
      <li class="btn btn-default energy">0.25</li>
      <li class="btn btn-default energy">0.50</li>
      <li class="btn btn-default energy">0.75</li>
      <li class="btn btn-default energy">1.00</li>
    </ul>
  </li>
  <li id="mood">
    <h2>Mood Level</h2>
    <ul class="btn-group-vertical sub-ul">
      <li class="btn btn-default mood">0.0</li>
      <li class="btn btn-default mood">0.25</li>
      <li class="btn btn-default mood">0.50</li>
      <li class="btn btn-default mood">0.75</li>
      <li class="btn btn-default mood">1.00</li>
    </ul>
  </li>

  <li id="dance">
    <h2>Dance Level</h2>
    <ul class="btn-group-vertical sub-ul">
      <li class="btn btn-default dance">0.0</li>
      <li class="btn btn-default dance">0.25</li>
      <li class="btn btn-default dance">0.50</li>
      <li class="btn btn-default dance">0.75</li>
      <li class="btn btn-default dance">1.00</li>
    </ul>
  </li>
</ul>


<script type="text/javascript">
  $(document).ready(function(){
    var arr = []
    $(".energy").click(function(e){
      e.preventDefault();
      arr += e.target.innerHTML
      $("#energy").hide();
      $("#mood").show();

    });

    $(".mood").click(function(e){
      e.preventDefault();
      arr += e.target.innerHTML
      $("#mood").hide();
      $("#dance").show();
    });

    $(".dance").click(function(e){
      e.preventDefault();
      arr += e.target.innerHTML
      console.log(arr);
      $("#dance").hide();
    });
  });
</script>